<section class="row">
  <article class="column">
    <p id="share-game"> Share this code with your friends to let them join this game: <%= String.upcase(@game.code) %> </p>
    <div id="App" data-room-code={@game.code} ></div>
    
 
  </article>
</section>
